body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  background-image:url(images\jonny-hayes-CdDkxyupUfs-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  position: center;
}

body p { color: #A7CCED}

header { margin: 10px;}

h3 a {
  background-color: #304d6d;
  color: white;
  justify-content: center;
  margin: 10px;
  text-align: center;
  line-height:10px;
}

.flex-container {display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f1f1f1;
}

.flex-container div{
background-color: #304d6d;
color: white;
justify-content: center;
margin: 10px;
text-align: center;
line-height:10px;
}
.tempbox{
  width:20%;
  margin:10px;
}
.logo {
  margin:10px;height: auto;
}
.shaark {width: 100%; margin: 10px;}

.localnews{
  margin: 10px;
  width: 20%;
}
.navbar {
  overflow: hidden;
  background-color: #304d6d;
  justify-content: center;
  margin: 10px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  font-style: bold;
  text-align: center;
  margin: 10px;
  padding: 14px 14px;
  text-decoration: none;
}

a.active {
  background-color: #545E75;
  color: white;
  font-style: bold;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;
  font-style: bold;
  border: none;
  outline: none;
  color: white;
  padding: 14px 14px;
  background-color: inherit;
  font-family: inherit;
  margin: 10px;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: #A7CCED;
  margin: 10px;
  color: #304d6d
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  margin: 10px;
  background-color: #304d6d;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #304d6d;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}
.sharkwatch { display: block;}
.Arial {
  font-style: Arial;
  font-size: 10px;
  text-align: justify;
  letter-spacing: 2;
  line-height: 15px;}

  .Verdana {
    font-style: Verdana;
    font-size: 10px;}

    .aw-widget-current lt-216 lt-280 lt-350 lt-479 {type="text/css">  .aw-icon-33-t {background-image:url(https://vortex.accuweather.com/adc2010/images/icons-numbered/33-t.png)} .aw-icon-33-h {background-image:url(https://vortex.accuweather.com/adc2010/images/icons-numbered/33-h.png)} .aw-icon-33-s {background-image:url(https://vortex.accuweather.com/adc2010/images/icons-numbered/33-s.png)} .aw-icon-33-m {background-image:url(https://vortex.accuweather.com/adc2010/images/icons-numbered/33-m.png)} .aw-icon-33-l {background-image:url(https://vortex.accuweather.com/adc2010/images/icons-numbered/33-l.png)} .aw-icon-33-xl {background-image:url(https://vortex.accuweather.com/adc2010/images/icons-numbered/33-xl.png)} </style>
