body {font-family: Arial, Helvetica, sans-serif;}

.header{
  float: center;
  display:flex;
  overflow: hidden;
  background-color: #333;
  width: 100%;
  }

  .Main_Logo{
    float: center;
    display: block;
    width: 100%;
    align-items: center;
    padding: 5% 5% 5% 5%;
  }
  .Weather{
    float: center;
    display: block;
    width: 100%;
    font-size: 24px;
    color: white;
    text-align: center;
    padding: 5% 5% 5% 5%;}

  .Latest_News{
    float: center;
    display: block;
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 5% 5% 5% 5%;}

.header a {
    float: center;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 5% 5% 5% 5%;
    text-decoration: none;
  }
.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #333;
}

.dropdown-content {
  display: none;
  position: absolute;
  color: white;
  background-color:#333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  background-color:#333;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #333;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}
