body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  background-image:url(images\jonny-hayes-CdDkxyupUfs-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  position: center;
}

body p { color: #A7CCED}

header { margin: 10px;}

.flex-container {display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f1f1f1;
}

.flex-container div{
background-color: #304d6d;
color: white;
justify-content: center;
margin: 10px;
text-align: center;
line-height:10px;
}
.tempbox{
  width:20%;
  margin:10px;
}
.logo {
  margin:10px;height: auto;
}
.shaark {width: 100%; margin: 10px;}

.localnews{
  margin: 10px;
  width: 20%;
}
.navbar {
  overflow: hidden;
  background-color: #A7CCED;
  justify-content: center;
  margin: 10px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: #304d6d;
  text-align: center;
  margin: 10px;
  padding: 14px 14px;
  text-decoration: none;
}

a.active {
  background-color: #545E75;
  color: white;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #304d6d;
  padding: 14px 14px;
  background-color: inherit;
  font-family: inherit;
  margin: 10px;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: #63ADF2;
  margin: 10px;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  margin: 10px;
  background-color: #63ADF2;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #63ADF2;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}
